@import "tailwindcss";

:root {
  --color-dusk-blue: #3d5a80;
  --color-powder-blue: #98c1d9;
  --color-light-cyan: #e0fbfc;
  --color-burnt-peach: #ee6c4d;
  --color-jet-black: #293241;
}

body {
  background-color: var(--color-light-cyan);
  color: var(--color-jet-black);
}